langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
langchain-huggingface
numpy
langchain_ollama
astrapy
langchain_experimental
langchain-google-genai